<section
  class="w-full bg-white p-3.5 rounded-xl text-sm text-card-body shadow-[0_0_10px_4px_#f3f3f3]"
>
  <div class="flex justify-between mb-8">
    <div>
      <p class="mb-3">Total User</p>
      <h2 class="text-2xl text-body tracking-[1px] font-semibold">24,120</h2>
    </div>

    <div class="inline-block p-3.5 bg-[#e5e4ff] rounded-2xl h-fit">
      <svg class="w-7 h-7">
        <use href="assets/customers.svg"></use>
      </svg>
    </div>
  </div>
  <!-- <div class="flex">
        <svg class="w-5 h-5 text-success">
          <use href="assets/success-graph.svg"></use>
        </svg>
        <p><span class="text-success ml-1.5">7.5%</span> up from yesterday</p>
      </div> -->

  <div class="flex">
    <svg class="w-5 h-5 text-failure -scale-y-100">
      <use href="assets/success-graph.svg"></use>
    </svg>
    <p><span class="text-failure ml-1.5">7.5%</span> up from yesterday</p>
  </div>
</section>
