<nav class="flex justify-between items-center">
  <div class="flex items-center gap-3">
    <svg class="w-5 h-5 lg:hidden opacity-80" id="menuIcon">
      <use href="assets/menu.svg"></use>
    </svg>
    <h1 class="text-3xl font-semibold">Dashboard</h1>
  </div>
  <div class="flex items-center gap-4">
    <div
      class="inline-flex p-3 bg-white border border-icon-border rounded-xl items-center h-[46px]"
    >
      <input
        class="outline-0 border-0 min-w-64 hidden md:block"
        type="text"
        placeholder="Search Here..."
      />

      <button class="cursor-pointer outline-0">
        <svg class="w-5 h-5">
          <use href="assets/search.svg"></use>
        </svg>
      </button>
    </div>

    <div class="inline-block p-3 bg-white border border-icon-border rounded-xl">
      <svg class="w-5 h-5">
        <use href="assets/notification.svg"></use>
      </svg>
    </div>

    <div class="inline-block p-3 bg-white border border-icon-border rounded-xl">
      <svg class="w-5 h-5">
        <use href="assets/lightmode.svg"></use>
      </svg>
    </div>
  </div>
</nav>
