<section
  class="w-full bg-white p-3.5 rounded-xl text-base text-card-body shadow-[0_0_10px_4px_#f3f3f3]"
>
  <h2 class="text-lg font-semibold">Recent Orders</h2>
  <div class="w-full overflow-x-auto scrollbar-gutter-stable">
    <table class="w-full mt-4 text-center font-medium text-body order__table">
      <thead class="border-b border-icon-border">
        <tr>
          <th>Tracking No.</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Total Order</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#88220</td>
          <td>
            <div class="flex items-center justify-center">
              <img
                class="w-10 h-10 rounded-[10px] mr-2.5 lg:w-12 lg:h-12"
                src="assets/shoes.png"
                alt=""
              />
              <p class="w-30 text-left">Shoes</p>
            </div>
          </td>
          <td>$148</td>
          <td>
            <span
              class="inline-block py-2 bg-[#e9f9fc] text-[#25c0e2] font-semibold rounded-lg w-20"
              >10</span
            >
          </td>
          <td>$1480.00</td>
        </tr>

        <tr>
          <td>#88220</td>
          <td>
            <div class="flex items-center justify-center">
              <img
                class="w-10 h-10 rounded-[10px] mr-2.5 lg:w-12 lg:h-12"
                src="assets/earphone.png"
                alt=""
              />
              <p class="w-30 text-left">Earphone</p>
            </div>
          </td>
          <td>$148</td>
          <td>
            <span
              class="inline-block py-2 bg-[#e9f9fc] text-[#25c0e2] font-semibold rounded-lg w-20"
              >10</span
            >
          </td>
          <td>$1480.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
