<a
  href="#"
  class="w-full px-5 py-4 my-2.5 text-base flex items-center hover:bg-[#f6f6f6] rounded-xl transition duration-250"
>
  <svg class="w-5 h-5">
    <use href="assets/dashboard.svg"></use>
  </svg>

  <span class="ml-2">Dashboard</span>
</a>

<a
  href="#"
  class="w-full px-5 py-4 my-2.5 text-base flex items-center hover:bg-[#f6f6f6] rounded-xl transition duration-250 link__active"
>
  <svg class="w-5 h-5">
    <use href="assets/dashboard.svg"></use>
  </svg>

  <span class="ml-2">Dashboard</span>
</a>
